@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');

body{
 min-height: 100vh;
 background: url(bg.jpg)no-repeat;
 background-size: cover;
 background-position: center;
}

@media (max-width: 900px){
 .main h1{
   font-size: 40px;
   line-height: 60px;
 }
}
      
h1{
font-family: 'Hanalei Fill', cursive;
color:Khaki; 
}

h1:hover{
font-family: 'Hanalei', cursive;
color:#bdb76b;
}



@keyframes pup{
 0%{color:Chartreuse;}
25%{color:GreenYellow;}
50%{color:LawnGreen;}
75%{color:Lime;}
100%{color:MediumSpringGreen;}
}

h1.sushi{
animation-name: pup;
animation-duration: 5s;
animation-iteration-count: infinite;
}

button.music{
  background-color: Red;
  border: solid;
  border-color: DarkRed;
  border-radius:35px;
  width:175px;
  color: DarkRed;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}


button.brawl{
  background-color: Gold;
  border: solid;
  border-color: GoldenRod;
  border-radius:35px;
  width:175px;
  color: GoldenRod;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}


button.wizard{
  background-color: SlateBlue;
  border: solid;
  border-color: DarkSlateBlue;
  border-radius:35px;
  width:175px;
  color: DarkSlateBlue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}


button.coding{
  background-color: SkyBlue;
  border: solid;
  border-color: DeepSkyBlue;
  border-radius:35px;
  width:175px;
  color: DeepSkyBlue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

button.music:hover{
  background-color: DarkRed;
  border: solid;
  border-color: Red;
  border-radius:35px;
  width:175px;
  color: Red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}


button.brawl:hover{
  background-color: GoldenRod;
  border: solid;
  border-color: Gold;
  border-radius:35px;
  width:175px;
  color: Gold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}


button.wizard:hover{
  background-color: DarkSlateBlue;
  border: solid;
  border-color: SlateBlue;
  border-radius:35px;
  width:175px;
  color: SlateBlue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}


button.coding:hover{
  background-color: DeepSkyBlue;
  border: solid;
  border-color: SkyBlue;
  border-radius:35px;
  width:175px;
  color: SkyBlue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
